<!DOCTYPE html>
<html ng-app="sms">
  <head>
    <meta charset="utf-8">
    <title>SMS App</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:30px; }
    </style>
  </head>
    <body ng-controller="uploadCtrl">
  	     
        <div class="container"  ng-controller="stationController">

            <div  class="col-sm-8 col-sm-offset-2">
                <form  name="upload_form">
                    <div class="form-group">
                        <label>Image Name</label>
                        <input type="text" required ng-model="name" placeholder="Enter image name" class="form-control"></input>
                    </div>
                    
                    <input 
                       type="file" 
                       class="form-control" 
                       ngf-select 
                       ng-model="file_.file" 
                       name="file" 
                       ngf-pattern="'image/*'"
                       accept="image/*" 
                       ngf-max-size="5MB" 
                       />
                    Image thumbnail: <img style="width:100px;" ng-if="file_.file" ngf-thumbnail="file_.file"/>
                    <br>
                    <button class="btn btn-success btn-lg col-md-offset-5" type="submit" ng-click="submit()" class="md-raised red">Upload</button> 
                </form>
            </div>
        </div>  
   
        
        <script src="../js/angular.min.js"></script>
        <script src="../js/ng-file-upload-shim.js"></script>
        <script src="../js/ng-file-upload.js"></script>
        <script src="../js/controllers.js"></script>
    </body>
</html>
